<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home</title>

</head>
<body>
<div class="Bienvenido"></div>
<h1>Bienvenido a la Gestión de Viajes</h1>
<p>Seleccione su rol para iniciar sesión:</p>
</div>
<div class="container">
    <div class="menu">
        <a href="/Login_admin">Admin</a>
    </div>
    <div class="menu">
        <a href="/Login_conductor">Conductor</a>
    </div>
    <div class="menu">
        <a href="/Login_cliente">Cliente</a>
    </div>
</div>
</body>
</html>